[Desktop Entry]
Version=1.0
Type=Application
Name=Suspend
Comment=
Exec=i3exit suspend
Icon=/home/hoagie/.config/i3/feather_icons/moon.svg
Path=
Terminal=false
StartupNotify=false
