.config/emacs/auto-save/*
.config/emacs/auto-save/*
.config/emacs/backups/*
.config/emacs/custom.el
.config/emacs/diary*
.config/emacs/ecompleterc
.config/emacs/eln-cache/*
.config/emacs/elpa/*
.config/emacs/history
.config/emacs/multisession/*
.config/emacs/network-security.data
.config/emacs/projects
.config/emacs/server/*
.config/emacs/tramp
.config/emacs/transient/*
.config/emacs/url/*
.config/emacs/newsticker/*
.config/emacs/org-persist/*
.config/gnus/.newsrc.eld
