[Desktop Entry]
Version=1.0
Type=Application
Name=Shut down
Comment=
Exec=i3exit shutdown
Icon=system-shutdown
Path=
Terminal=false
StartupNotify=false
