[Desktop Entry]
Version=1.0
Type=Application
Name=Shut down
Comment=
Exec=i3exit shutdown
Icon=/home/hoagie/.i3/feather_icons/power.svg
Path=
Terminal=false
StartupNotify=false
