[Desktop Entry]
Version=1.0
Type=Application
Name=Volume DOWN
Comment=
Exec=xdotool key XF86AudioLowerVolume
Icon=/home/hoagie/.config/i3/feather_icons/volume-1.svg
Path=
Terminal=false
StartupNotify=false
