[Desktop Entry]
Version=1.0
Type=Application
Name=next ws   >
Comment=
Exec=/home/hoagie/.i3/go_to_workspace.py next
Icon=/home/hoagie/.config/i3/feather_icons/arrow-right.svg
Path=
Terminal=false
StartupNotify=false
