[Desktop Entry]
Version=1.0
Type=Application
Name=next ws   >
Comment=
Exec=/home/hoagie/.i3/go_to_workspace.py next
Icon=
Path=
Terminal=false
StartupNotify=false
