[Desktop Entry]
Version=1.0
Type=Application
Name=Brightness DOWN
Comment=
Exec=xdotool key XF86MonBrightnessDown
Icon=/home/hoagie/.config/i3/feather_icons/sunset.svg
Path=
Terminal=false
StartupNotify=false
