[Desktop Entry]
Version=1.0
Type=Application
Name=Brightness DOWN
Comment=
Exec=xdotool key XF86MonBrightnessDown
Icon=/home/hoagie/.i3/feather_icons/sun_gray.svg
Path=
Terminal=false
StartupNotify=false
