[Desktop Entry]
Version=1.0
Type=Application
Name=Close panel
Comment=
Exec=killall xfce4-panel
Icon=/home/hoagie/.i3/feather_icons/chevrons-down.svg
Path=
Terminal=true
StartupNotify=false
