[Desktop Entry]
Version=1.0
Type=Application
Name=close
Comment=
Exec=i3-msg -q kill
Icon=/home/hoagie/.config/i3/feather_icons/x-square.svg
Path=
Terminal=false
StartupNotify=false
