[Desktop Entry]
Version=1.0
Type=Application
Name=<   prev ws
Comment=
Exec=/home/hoagie/.i3/go_to_workspace.py prev
Icon=/home/hoagie/.i3/feather_icons/arrow-left.svg
Path=
Terminal=false
StartupNotify=false
