[Desktop Entry]
Version=1.0
Type=Application
Name=<   prev ws
Comment=
Exec=/home/hoagie/.i3/go_to_workspace.py prev
Icon=
Path=
Terminal=false
StartupNotify=false
