[Desktop Entry]
Version=1.0
Type=Application
Name=window
Comment=
Exec=i3-msg -q
Icon=/home/hoagie/.i3/feather_icons/more-vertical.svg
Path=
Terminal=false
StartupNotify=false
