[Desktop Entry]
Version=1.0
Type=Application
Name=toggle floating     
Comment=
Exec=i3-msg -q floating toggle
Icon=
Path=
Terminal=false
StartupNotify=false
