[Desktop Entry]
Version=1.0
Type=Application
Name=move to new ws
Comment=
Exec=/home/hoagie/.i3/move_to_first_available_workspace.py
Icon=
Path=
Terminal=false
StartupNotify=false
