[Desktop Entry]
Version=1.0
Type=Application
Name=Brightness UP
Comment=
Exec=xdotool key XF86MonBrightnessUp
Icon=/home/hoagie/.i3/feather_icons/sun.svg
Path=
Terminal=false
StartupNotify=false
