[Desktop Entry]
Version=1.0
Type=Application
Name=Brightness DOWN
Comment=
Exec=xdotool key XF86MonBrightnessDown
Icon=palemoon
Path=
Terminal=false
StartupNotify=false
