[Desktop Entry]
Version=1.0
Type=Application
Name=Volume UP
Comment=
Exec=xdotool key XF86AudioRaiseVolume
Icon=/home/hoagie/.config/i3/feather_icons/volume-2.svg
Path=
Terminal=false
StartupNotify=false
